/* Menu bar */

.header-inner .menu-items {
  	position: absolute;
    /*height: 35px;*/
    top: 6px;
  
}

#conteiner-pages
{
	min-height: 1320px;
}


.header-inner .menu-items .navbar {
 	margin-bottom: 0 !important;
 	border: none;
    left: 4%;

    /*height: 35px;*/
  /*padding: 6px 10px;*/
}
@media (max-width: 1094px) {
  .header-inner .menu-items .navbar {
   	left: 0; 
 }
}


.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Arvo', serif;
}

@media (max-width: 940px) {
  .navbar-default .navbar-nav > li > a {
   	 font-size: 12px;
 }
}


.navbar-default .navbar-nav > li > a:hover {
     -webkit-animation: pulse 1s;
    -moz-animation: pulse 1s;
    -ms-animation: pulse 1s;
    animation: pulse 1s;
}

.menu-items .navbar-default .navbar-toggle {
    border:none;
}

.menu-items .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.menu-items .navbar-default .navbar-toggle:hover {
    background-color: #F44336 !important;
}
.menu-items .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff !important;
}

.menu-items .navbar-default .navbar-toggle:focus {
    background-color: #F44336 !important;
}
.menu-items .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff !important;
}


/*
 Estilo para los anuncios 

*/

.anuncios .pv-body
{
  min-height: 198px !important;
}

.anuncios-vencidos .pv-body
{
  min-height: 198px !important;
}
.anuncios .profile-view .pv-header 
{
  background-image: none;
  background-color:#F44336;
}

.anuncios .profile-view .pv-header 
{
  background-image: none;
  background-color:#F44336;
}

a .anuncios ul li
{
  color:#5e5e5e;
}

/*Estilo para ver anuncio en especifico*/

#anuncio-especifico #profile-main
{
  min-height: 712px;
}

/* Cuadro de titulo de registra tu empresa */

#markup-registra
{
  padding: 20px;
  font-family: 'Abril Fatface', cursive;
  
}

#markup-registra h1 
{
  color:#F44336;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}
#markup-registra h2 
{
  color:#000;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

#markup-registra #down-arrow h1
{
  font-size: 25px;
  color:#000;
  font-weight: bold;
}


/*Estilo para el login */
.lv-body #login-box
{
  padding-top: 40px;
}

.lv-footer #forget-pass
{
  padding: 10px;
}

.lv-footer #registra
{
   padding: 10px;
}

/*changing the color of the loading bar*/
#loading-bar .bar {
  
  background: #fff !important;
   height: 3px !important;
  
}

/* hide the ul element in anuncios when */
/* No greater than 900px, no less than 400px */
@media (max-width:1349px) and (min-width:768px) {
    .hide-fit {
        display:none;
    }
}​