<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html lang="es" ng-app="mercurioApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright" content="Mercurio Honduras es una marca registrada ©">
        <title>Mercurio</title>
        <!-- Vendor CSS -->
        <link href="vendors/fullcalendar/fullcalendar.css" rel="stylesheet">
        <link href="vendors/animate-css/animate.min.css" rel="stylesheet">
        <link href="vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <link href="vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="vendors/socicon/socicon.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
                <!-- CSS -->
                <link href="css/app.min.1.css" rel="stylesheet">
                <link href="css/app.min.2.css" rel="stylesheet">
                <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
                <link href="css/mercurio.css" rel="stylesheet">
                <!--Scripts-->
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
                <script src="//code.angularjs.org/1.4.0/angular-route.min.js"></script>
                <script src="//code.angularjs.org/1.4.0/angular-resource.min.js"></script>
                <script src="//code.angularjs.org/1.4.0/angular-cookies.min.js"></script>
                <script src="/js/angular-sanitize.min.js"></script>
                <script src="/js/angular-animate.min.js"></script>
                <script type="text/javascript" src="//cdn.auth0.com/js/lock-7.js"></script>
                <script type="text/javascript" src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
                <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
            </head>
            <body id="body-index" ng-controller="globalPage">
                <header id="header" class="bgm-red">
                    <ul class="header-inner">
                        <li id="menu-trigger" data-trigger="#sidebar">
                            <div class="line-wrap">
                                <div class="line top"></div>
                                <div class="line center"></div>
                                <div class="line bottom"></div>
                            </div>
                        </li>
                        <li class="logo hidden-xs">
                            <a href="#/">Mercurio.hn</a>
                        </li>
                        <li class="menu-items hidden-xs" id="menu-principal">
                            <nav class="navbar navbar-default bgm-red">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li><a href="/#/"><i class="md md-view-module"></i> Trabajos</a></li>
                                            <li><a href="#/registrate"><i class="md md-accessibility"></i> Registra tu empresa</a></li>
                                            <li><a href="http://blog.mercurio.hn/" TARGET="_blank"><i class="md md-receipt"></i> Blog</a></li>
                                            <li><a href="#/contactanos"><i class="md md-email"></i> Contactanos</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </li>
                        <li class="pull-right">
                            <ul class="top-menu">
                                <li id="toggle-width">
                                    <div class="toggle-switch">
                                        <input id="tw-switch" type="checkbox" hidden="hidden">
                                        <label for="tw-switch" class="ts-helper"></label>
                                    </div>
                                </li>
                                <!--li id="top-search">
                                                                    <a class="tm-search" href=""></a>
                            </li-->
                            <li class="dropdown hidden-xs">
                                <a data-toggle="dropdown" class="tm-login" href=""></a>
                                <div class="dropdown-menu dropdown-menu-lg pull-right">
                                    <div class="listview">
                                        <div class="lv-header">
                                            Iniciar sesión empresas
                                        </div>
                                        <div class="lv-body c-overflow">
                                            <form ng-submit="login()">
                                                <div class="col-sm-12" id="login-box">
                                                    <div class="input-group m-b-20">
                                                        <span class="input-group-addon"><i class="md md-person"></i></span>
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control" ng-model="credentials.email" placeholder="email">
                                                        </div>
                                                    </div>
                                                    <div class="input-group m-b-20">
                                                        <span class="input-group-addon"><i class="md md md-vpn-key"></i></span>
                                                        <div class="fg-line">
                                                            <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="credentials.recordarme.value1" ng-true-value="'SI'" ng-false-value="'NO'">
                                                                <i class="input-helper"></i>
                                                                Recordarme
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-danger btn-block waves-effect" >Iniciar Sesión</button>

                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="lv-footer">
                                            <div class="col-sm-6" id="forget-pass"><a class="c-black" href="#/reset/password">Olvide mi contrasena</a></div>
                                            <div class="col-sm-6" id="registra"><a class="c-black" href="#/registrate">Registra tu empresa</a></div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Top Search Content -->
                <div id="top-search-wrap">
                    <input type="text">
                    <i id="top-search-close">&times;</i>
                </div>
            </header>
            <section id="main">
                <aside id="sidebar">
                <ul class="tab-nav tn-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#Localidad" aria-controls="Localidad" role="tab" data-toggle="tab">Localidad</a></li>
                    <li role="presentation"><a href="#categoria" aria-controls="categoria" role="tab" data-toggle="tab">Categoria</a></li>
                </ul>
            
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="Localidad">
                        <div class="listview">
                            <a class="lv-item" ng-href="#/anuncios/departamento/{{departamento.id}}" ng-repeat="departamento in departamentos">
                                <div class="media">
                                    <div class="pull-left p-relative">
                                        <img class="lv-img-sm" src="img/widgets/hondurasMap.jpg" alt="">
                                        
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{departamento.nombre | uppercase}}</div>
                                        <small class="lv-small">({{departamento.numero_anuncios}})</small>
                                    </div>
                                </div>
                            </a>
                            
                   
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="categoria">
                        <div class="listview">
                            <a class="lv-item" ng-href="#/anuncios/categoria/{{categoria.id}}" ng-repeat="categoria in categorias">
                                <div class="media">
                                    <div class="pull-left p-relative">
                                        <img class="lv-img-sm" src="img/widgets/m.jpg" alt="">
                                        
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{categoria.nombre | uppercase}}</div>
                                        <small class="lv-small">({{categoria.numero_anuncios}})</small>
                                    </div>
                                </div>
                            </a>
                            
                           
                        </div>
                    </div>
                </div>
            </aside>
                <section id="content">
                    <div id="conteiner-pages" class="container" ng-view>
                    </div>
                </section>
            </section>
            <!-- Javascript Libraries -->
            <script src="js/jquery-2.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="vendors/flot/jquery.flot.min.js"></script>
            <script src="vendors/flot/jquery.flot.resize.min.js"></script>
            <script src="vendors/flot/plugins/curvedLines.js"></script>
            <script src="vendors/sparklines/jquery.sparkline.min.js"></script>
            <script src="vendors/easypiechart/jquery.easypiechart.min.js"></script>
            <script src="vendors/fullcalendar/lib/moment.min.js"></script>
            <script src="vendors/fullcalendar/fullcalendar.min.js"></script>
            <script src="vendors/simpleWeather/jquery.simpleWeather.min.js"></script>
            <script src="vendors/auto-size/jquery.autosize.min.js"></script>
            <script src="vendors/nicescroll/jquery.nicescroll.min.js"></script>
            <script src="vendors/waves/waves.min.js"></script>
            <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
            <script src="vendors/sweet-alert/sweet-alert.min.js"></script>
            <script src="js/flot-charts/curved-line-chart.js"></script>
            <script src="js/flot-charts/line-chart.js"></script>
            <script src="js/charts.js"></script>
            <script src="js/charts.js"></script>
            <script src="js/functions.js"></script>
            <script src="js/mercurio.js"></script>

            <!--Angular Apps -->
            <script src="app/app.js"></script>
            <script src="app/components/routes/routes.js"></script>
            <!--Controllers -->
            <script src="app/components/controllers/paginaInicioController.js"></script>
            <script src="app/components/controllers/globalPageController.js"></script>
            <script src="app/components/controllers/verAnuncioController.js"></script>
            <script src="app/components/controllers/registraController.js"></script>
            <script src="app/components/controllers/resetPasswordController.js"></script>
            <script src="app/components/controllers/contactanosController.js"></script>
            <!--Service-->
            <script src="app/components/services/mainPageServices.js"></script>
            <script src="app/components/services/anuncioServices.js"></script>
            <script src="app/components/services/registraServices.js"></script>
            <script src="app/components/services/paisesServices.js"></script>
            <script src="app/components/services/resetPasswordService.js"></script>
            <!--Factory-->
            <script src="app/components/factories/authFactory.js"></script>
            <!--Directives-->
            <script src="app/components/directives/anuncioDirective.js"></script>
            <script src="app/components/directives/checkTextAnuncioDirective.js"></script>
            <script src="app/components/directives/showCambiarPassTempDirective.js"></script>
            <script src="app/components/directives/seoDirective.js"></script>
            <script src="app/components/directives/niceScrollDirective.js"></script>


            <!-- This is the script for loading bar -->
            <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
            <!-- Google Analytics codigo de seguimiento -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-66603506-1', 'auto');
            ga('send', 'pageview');
            </script>
        </body>
    </html>