 <set-seo title="Mercurio Honduras - Empleos - ofertas de trabajo" 
            metakeywords="empleos,trabajos,anuncios,oportunidad de trabajo,empleador,trabajador,jornalero,empresa,empresarios,mercurio,hermes,honduras,hn,patrono,busco un empleo,bolsa de trabajo, chamba"
            metadescrip="Mercurio es tu sitio web para encontrar empleo en Honduras"
            ></set-seo>
<div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="Anuncio in anuncios.anunciosResult">
    <on-texto-anuncio-muy-largo anuncio-result="Anuncio" sumar-click="sumarClicks(id)" anuncio-numero="anuncios.NumAnuncios"></on-texto-anuncio-muy-largo>
    <show-anuncios anuncio-result="Anuncio"></show-anuncios>
</div>