<show-cambiar-pass-temp></show-cambiar-pass-temp>
<form ng-submit="cambiarPassword()">
    <div class="lc-block toggled" style="margin-top: 220px" id="l-forget-password">
        <p class="text-left">Escriba la nueva contraseña</p>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-vpn-key"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" ng-model="newpassword" placeholder="Password">
            </div>
        </div>
        <a href="" ng-click="cambiarPassword()" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
    </div>
    <input type="submit" style="display: none">
</form>