<set-seo title="MERCURIO HONDURAS - Busca de Empleos, Trabajos, Trabajos Disponibles"
	metakeywords="empleos,trabajos,anuncios,oportunidad de trabajo,empleador,trabajador,jornalero,empresa,empresarios,mercurio,hermes,honduras,hn,patrono,busco un empleo" 
	metadescrip="Mercurio te ayuda a buscar empleo completamente gratis, buscas empleos registrate con mercurio honduras"
	></set-seo>
<div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="Anuncio in anuncios.anunciosResult">
    <on-texto-anuncio-muy-largo anuncio-result="Anuncio" anuncio-numero="anuncios.NumAnuncios"></on-texto-anuncio-muy-largo>
    <show-anuncios anuncio-result="Anuncio" sumar-click="sumarClicks(id)"></show-anuncios>
</div>