<set-seo title="MERCURIO HONDURAS - Busca de Empleos, Trabajos, Trabajos Disponibles"
metakeywords="empleos,trabajos,anuncios,oportunidad de trabajo,empleador,trabajador,jornalero,empresa,empresarios,mercurio,hermes,honduras,hn,patrono,busco un empleo"
metadescrip="Mercurio te ayuda a buscar empleo completamente gratis, buscas empleos registrate con mercurio honduras"
></set-seo>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 hide-publicity">
        <div class="card blog-post">
            <div class="bp-header">
                <a href="https://play.google.com/store/apps/details?id=com.moisesguzman.mercurio&utm_source=app&utm_medium=banner&utm_content=promocion%20app&utm_campaign=mercurio%20app%20" target="_BLANK" class="thumbnail"> <img src="/img/widgets/app-web.jpg" alt=""></a>

                <a href="https://play.google.com/store/apps/details?id=com.moisesguzman.mercurio&utm_source=app&utm_medium=banner&utm_content=promocion%20app&utm_campaign=mercurio%20app%20" class="bp-title" target="_BLANK">
                <h2>Descargala ahora</h2>
                <small>Revisa las ofertas de trabajo desde tu celular</small>
                </a>
            </div>


        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 hide-publicity">
        <div class="card blog-post">
            <div class="bp-header">
                <a href="http://www.elsoldehonduras.com/?utm_source=Mercurio&utm_medium=Mercurio&utm_content=NOTICIAS&utm_campaign=Periodico" target="_BLANK" class="thumbnail"> <img src="/img/widgets/sol_honduras.jpg" alt=""></a>

                <a href="http://www.elsoldehonduras.com/?utm_source=Mercurio&utm_medium=Mercurio&utm_content=NOTICIAS&utm_campaign=Periodico" target="_BLANK" class="bp-title">
                <h2>Informate sobre el acontecer nacional</h2>
                <small>Enterate de lo que esta pasando en Honduras</small>
                </a>
            </div>


        </div>
    </div>
</div>
<div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="Anuncio in anuncios.anunciosResult">
    <on-texto-anuncio-muy-largo anuncio-result="Anuncio" anuncio-numero="anuncios.NumAnuncios"></on-texto-anuncio-muy-largo>
    <show-anuncios anuncio-result="Anuncio" sumar-click="sumarClicks(id)"></show-anuncios>
</div>
<!--div class="col-sm-12" ng-if="anuncios.NumAnuncios"><div class="col-sm-3"></div><div class="col-sm-3"><button class="btn bgm-white waves-effect waves-button waves-float c-black" ng-if="current_page > 1" ng-click="preview()">pagina anterior</button></div><div class="col-sm-3"><button class="btn bgm-white waves-effect waves-button waves-float c-black" ng-click="next()" ng-if="current_page<lastpage">pagina siguiente</button></div><div class="col-sm-3"></div></div-->
<div id="pie-pagina-anuncios">
    <div class="col-sm-12 m-l-20" ng-if="anuncios.NumAnuncios">
        <div class="col-sm-4"></div><div clas="col-sm-4"></div><div class="m-l-25 col-sm-4"><button  ng-click="preview()" ng-if="current_page > 1" class="btn btn-default btn-icon waves-effect waves-button waves-float"><i class="md md-arrow-back"></i></button><button ng-click="next()" ng-if="current_page<lastpage" class="m-l-15 btn btn-default btn-icon waves-effect waves-button waves-float"><i class="md md-arrow-forward"></i></button></div>
    </div>
    <div class="col-sm-12 m-t-20 m-l-25" ng-if="anuncios.NumAnuncios">
        <div class="col-sm-4"></div><div clas="col-sm-4"></div><div class="m-l-25 col-sm-4">pagina {{current_page}} de {{lastpage}}</div>
    </div>
    <div class="col-sm-12 m-t-20" ng-if="anuncios.NumAnuncios">
        <div class="col-sm-4"></div><div clas="col-sm-4">DERECHOS RESERVADOS 2016 ©</div><div class="col-sm-4"></div>
    </div>

</div>