<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card bs-item bs-item z-depth-1">
            <div id="markup-registra">
                <h1 class="contrasena-h1">¿Te olvidaste de tu contraseña?</h1><h2 class="contrasena-h2">reactivala aquí</h2>
                <div id="down-arrow">
                    <h1><i class="md md-expand-more"></i></h1>
                </div>
            </div>
            <div class="row" style="padding-bottom: 60px; padding-right: 20px; padding-left: 20px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <form ng-submit="restePassword()">

                        
                        <div id="bloc-email" class="m-t-15 input-group">
                            <span class="input-group-addon"><i class="md md-email"></i></span>
                            <div class="fg-line">
                                <input type="text" input-focus-blue ng-model="reset.email" class="form-control" placeholder="email del usuario">
                            </div>
                        </div>
                        <small id="email-text" style="display:none" class="help-block c-red"></small>
                        
                        
                        
                        <div class="row" style="margin-top: 40px">    
                        <input type="submit" class="btn btn-success btn-block waves-effect waves-button waves-float" value="Enviar">
                        </div>
                        <div class="row" style="margin-top: 20px">
                        <div role="alert" class="alert alert-danger "  ng-if="errores != ''">{{errores}}</div>
                        </div>
                    </form>
                    
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>